# User-specific stuff:
.idea
.vscode
.run
genai-env.env
genai-env.sh

# File-based project format:
*.iml

# Log file
*.log

# Python
__pycache__/
*/dist/
*/dist_download/
*.cert
*.key
**/scratches
**/turing_results
**/.env*

# Coverage
.coverage
